build
*.deb
*.changes
*.dsc
*.log
.debhelper
.ropeproject
debian/wb-mqtt-mbgate
*.debhelper
debian/*.substvars
debian/files
debhelper-build-stamp

### Visual Studio Code ###
.vscode
.devcontainer

### CLion ###
.idea

### direnv ###
.direnv
.envrc
