Source: wb-mqtt-mbgate
Maintainer: Nikita Maslov <nikita.maslov@wirenboard.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10), pkg-config, libwbmqtt1-3-dev (>= 3.1.0), libmodbus-dev (>= 3.0.3), libgmock-dev, git
Homepage: https://github.com/wirenboard/wb-mqtt-mbgate

Package: wb-mqtt-mbgate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3 (>= 3.5), python3-wb-common (>= 2.1.0)
Breaks: wb-mqtt-homeui (<< 1.7)
Description: Wiren Board MQTT to Modbus gateway
 wb-mqtt-mbgate is a service which acts as Modbus slave on
 specific interface and provides access to Wiren Board MQTT
 topics through Modbus. It supports both Modbus RTU on serial
 ports and Modbus TCP.
