[Unit]
Description=Wiren Board MQTT to Modbus TCP gateway
After=mosquitto.service
After=wb-configs.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
RestartPreventExitStatus=2 3 4 5 6
SuccessExitStatus=7
User=root
ExecStart=/usr/bin/wb-mqtt-mbgate -c /etc/wb-mqtt-mbgate.conf
ExecStartPre=/usr/bin/wb-mqtt-mbgate-confgen -c /etc/wb-mqtt-mbgate.conf

[Install]
WantedBy=multi-user.target
